################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/ImpossibleBoss.VC.db
/ImpossibleBoss.VC.VC.opendb
/IMBO_MAINFRAME/x64/Debug/IMBO_MAINFRAME.tlog
/IMBO_MAINFRAME/x64/Debug
/.vs/ImpossibleBoss/v14
/ipch/IMBO_MAINFRAME-b18e17a9
/x64/Debug
/IMBO_MAINFRAME/x64/Release
/ipch/IMBO_MAINFRAME-1894b7c9
/x64/Release
